body{
font-family:Arial;
background:#0f0f0f;
color:white;
margin:0;
}

header{
background:#111;
padding:20px;
font-size:24px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1b1b1b;
border-radius:10px;
padding:15px;
text-align:center;
}

.card img{
width:80px;
}

.download{
display:inline-block;
margin-top:10px;
padding:8px 14px;
background:#00ffae;
color:black;
border-radius:6px;
text-decoration:none;
}