body{
background:#0f1724;
font-family:sans-serif;
color:white;
margin:0
}

header{
padding:20px;
font-size:22px;
color:#00ffa6
}

#apps{
padding:20px
}

.card{

display:flex;
gap:15px;

background:#1c2333;

padding:20px;

border-radius:14px;

margin-bottom:20px;

}

.card img{

width:80px;
height:80px;

border-radius:20px;

}

.info{
flex:1
}

.info h2{
margin:0
}

.meta{
margin-top:8px;
color:#aaa
}

.btn{

display:inline-block;

margin-top:10px;

background:#00ffa6;

color:black;

padding:8px 16px;

border-radius:8px;

text-decoration:none;

font-weight:bold

}

input,textarea{

width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:none;

}

button{

background:#00ffa6;

padding:12px;

border:none;

border-radius:10px;

font-weight:bold

}